<%= form_for(@volunteer) do |f| %>
  <% if @volunteer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@volunteer.errors.count, "error") %> prohibited this volunteer from being saved:</h2>

      <ul>
      <% @volunteer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:name) %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t(:address) %><br />
    <%= f.text_area :address, :size => '30x4' %>
  </div>
  <div class="field">
    <%= f.label t(:birthday) %><br />
    <%= f.date_select :birthday, :include_blank => true, :start_year => 1900, :end_year => Time.now.year %>
  </div>
  <div class="field">
    <%= f.label t(:email) %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label t(:phone) %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label t(:group) %><br />
    <%= f.collection_select :group_id, Group.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label t(:access_level) %><br />
    <%= f.collection_select :access_level, AccessLevel.all, :name, :name %>
  </div>
  <div class="field">
    <%= f.label 'Bruker' %><br />
    <%= f.collection_select :user_id, User.all, :id, :username, {:include_blank => 'Ingen'} %>
  </div>
  <div class="actions">
    <%= f.submit t(:submit) %>
  </div>
<% end %>
