- title t(:volunteers_list)
%h1= t(:volunteers_list)
%p#notice= notice
%p= link_to t(:new_volunteer), new_volunteer_path
%table.border
  - @groups.each do |group|
    %tr
      %th{:colspan => "9"}
        %h2= group.name
    %tr
      %th= t(:name)
      %th= t(:address)
      %th= t(:birthday)
      %th= t(:age)
      %th= t(:phone)
      %th= t(:access_level)
    - group.volunteers.each do |volunteer|
      %tr
        %td= volunteer.name
        %td= nl2br(volunteer.address)
        %td= volunteer.birthday
        %td
          - if volunteer.birthday then concat(age_at(active_event.from, volunteer.birthday)) end
        %td= volunteer.phone
        %td= volunteer.access_level
    %tr
      %th{:colspan => "9"}
        = t(:count)
        \: #{group.volunteers.count}
%p= link_to t(:new_volunteer), new_volunteer_path
