- title "#{t(:edit)} #{Volunteer.model_name.human.downcase}"
.container
  %h1= "#{t(:edit)} #{Volunteer.model_name.human.downcase}"
  = render 'form'
  %p
    = link_to 'Show', @volunteer
    |
    = link_to 'Back', volunteers_path
