- title t(:volunteers_list)
%h1= t(:volunteers_list)
%p#notice= notice
%table.table.table-striped
  - @groups.each do |group|
    %tr
      %th{:colspan => "9"}
        %h2= group.name
    %tr
      %th= t(:name)
      %th= t(:address)
      %th= t(:age)
      %th= t(:email)
      %th= t(:phone)
      %th= t(:access_level)
      %th
    - group.volunteers.each do |volunteer|
      %tr
        %td= volunteer.name
        %td= nl2br(volunteer.address)
        %td
          - if volunteer.birthday then concat(age_at(active_event.from, volunteer.birthday)) end
        %td= volunteer.email
        %td= volunteer.phone
        %td= volunteer.access_level
        %td
          = link_to t(:show), volunteer
          |
          = link_to t(:edit), edit_volunteer_path(volunteer)
          |
          = link_to t(:delete), volunteer, method: :delete, data: { confirm: t(:confirm) }
    %tr
      %th{:colspan => "9"} #{t(:count)}: #{group.volunteers.count}
%p= link_to t(:add_volunteer), new_volunteer_path, class: 'btn btn-sm btn-danger', data: { confirm: 'Her får bare Kristin leke!' }
