<p id="notice"><%= notice %></p>

<h1><%= @volunteer.name %></h1>
<table class="border">
  <tr>
    <th>Adresse</th>
    <td><%= @volunteer.address %></td>
  </tr>
  <tr>
    <th>Birthday:</th>
    <td><%= @volunteer.birthday %></td>
  </tr>
  <tr>
    <th>Email:</th>
    <td><%= @volunteer.email %></td>
  </tr>
  <tr>
    <th>Phone:</th>
    <td><%= @volunteer.phone %></td>
  </tr>
  <tr>
    <th>Group:</th>
    <td><%= @volunteer.group.name %></td>
  </tr>
  <tr>
    <th>Crewkort</th>
    <td><%= @volunteer.access_level %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_volunteer_path(@volunteer) %> |
<%= link_to 'Back', volunteers_path %>
