.container
  %h1 Listing crew_merchandise_orders
  %table.table.table-striped
    %thead
      %tr
        %th Volunteer
        %th
    %tbody
      - @crew_merchandise_orders.each do |crew_merchandise_order|
        %tr
          %td= crew_merchandise_order.volunteer
          %td
            = link_to t(:show), crew_merchandise_order
            |
            = link_to t(:edit), edit_crew_merchandise_order_path(crew_merchandise_order)
            |
            = link_to t(:delete), crew_merchandise_order, method: :delete, data: { confirm: t(:confirm) }
  %p= link_to 'New Crew merchandise order', new_crew_merchandise_order_path
