- title "Annonser"
- ad_sum = Ad.where(event_id: active_event.id).each.inject(0) {|sum, ad| sum + ad.ad_type.value}
.container
  %h1= Ad.model_name.human(count: 2)
  %p Status: #{number_with_delimiter(ad_sum, delimiter: ' ')}kr / 250 000kr
  %table.table.table-striped
    %tr
      %th= Ad.human_attribute_name(:name)
      %th= Ad.human_attribute_name(:contact)
      %th= Ad.human_attribute_name(:phone)
      %th= Ad.human_attribute_name(:email)
      %th= Ad.human_attribute_name(:type)
      %th= Ad.human_attribute_name(:address)
      %th= Ad.human_attribute_name(:notes)
      %th= Ad.human_attribute_name(:salesman)
      %th= Ad.human_attribute_name(:type_from_previous_event)
      %th{title: 'Has the ad been produced?'} #{Ad.human_attribute_name(:completed)}?
      %th
      %th
      %th
    - @ads.each do |ad|
      %tr{:style => "#{ad.ad_type.name == "Nei" ? 'color: #999999' : ''}", class: "#{ad.completed == true ? 'success' : ''}"}
        %td= ad.name
        %td= ad.contact
        %td= ad.phone
        %td= ad.email
        %td= ad.ad_type.name
        %td= nl2br(ad.address)
        %td= nl2br(ad.notes)
        %td= ad.salesman
        - if ad.parent_ad_id
          %td= ad.parent_ad.ad_type ? ad.parent_ad.ad_type.name : ''
        - else
          %td
        %td
          - if ad.completed
            = t(:answer_yes)
            %span{title: "#{t(:mark_as_not_completed)}"}= link_to('❌', toggle_completed_ad_path(ad))
          - else
            = t(:answer_no)
            %span{title: "#{t(:mark_as_completed)}"}= link_to('✅', toggle_completed_ad_path(ad))
        %td= link_to t(:edit), edit_ad_path(ad)
        %td= link_to t(:delete), ad, method: :delete, data: { confirm: 'Du vil sannsynligvis ikke gjøre dette.' }
  %p= link_to 'Ny annonse', new_ad_path
  %hr
  %h2 Copy all ads from previous event
  = form_tag copy_ads_from_event_ads_path, class: 'form-inline' do
    .form-group
      = label_tag :event_id, "Event"
      = select_tag :event_id, options_from_collection_for_select(Event.where.not(id: active_event.id), :id, :name), class: 'form-control'
    .form-group
      = label_tag :ad_type_id, "Set ad type to"
      = select_tag :ad_type_id, options_from_collection_for_select(AdType.all, :id, :name), class: 'form-control'
    = submit_tag 'Copy events', class: 'btn btn-primary'
