<% title "Annonser" %>
<div class="container">
  <h1>Annonser</h1>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Contact</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Type</th>
      <th>Address</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  <% @ads.each do |ad| %>
    <tr<%
  if ad.ad_type.name == "Nei"
    concat ' style="color: #999999"'.html_safe
  end
  %>>
      <td><%= ad.name %></td>
      <td><%= ad.contact %></td>
      <td><%= ad.phone %></td>
      <td><%= ad.email %></td>
      <td><%= ad.ad_type.name %></td>
      <td><%= nl2br(ad.address) %></td>
      <td><%= nl2br(ad.notes) %></td>
      <td><%= link_to 'Show', ad %></td>
      <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
      <td><%= link_to 'Destroy', ad, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
  <br />
  <%= link_to 'New Ad', new_ad_path %>
</div>
