- title "Annonser"
- ad_sum = Ad.all.each.inject(0) {|sum, ad| sum + ad.ad_type.value}
.container
  %h1 Annonser
  %p Status: #{number_with_delimiter(ad_sum, delimiter: ' ')}kr / 100 000kr
  %table.table.table-striped
    %tr
      %th Navn
      %th Kontaktperson
      %th Telefon
      %th Epost
      %th Annonsetype
      %th Adresse
      %th Notater
      %th Selger
      %th Type from last event
      %th
      %th
    - @ads.each do |ad|
      %tr{:style => "#{ad.ad_type.name == "Nei" ? 'color: #999999' : ''}"}
        %td= ad.name
        %td= ad.contact
        %td= ad.phone
        %td= ad.email
        %td= ad.ad_type.name
        %td= nl2br(ad.address)
        %td= nl2br(ad.notes)
        %td= ad.salesman
        %td= ad.parent_ad_id ? ad.parent_ad.ad_type.name : ''
        %td= link_to 'Endre', edit_ad_path(ad)
        %td= link_to 'Slett', ad, method: :delete, data: { confirm: 'Du vil sannsynligvis ikke gjøre dette.' }
  %p= link_to 'Ny annonse', new_ad_path
  %hr
  %h2 Copy ads from previous event
  = form_tag copy_ads_from_event_ads_path, class: 'form-inline' do
    .form-group
      = label_tag :event_id, "Event"
      = select_tag :event_id, options_from_collection_for_select(Event.where.not(id: active_event.id), :id, :name), class: 'form-control'
    .form-group
      = label_tag :ad_type_id, "Ad type"
      = select_tag :ad_type_id, options_from_collection_for_select(AdType.all, :id, :name), class: 'form-control'
    = submit_tag 'Copy events', class: 'btn btn-primary'
