<% title @ad.name %>
<h1><%= @ad.name %></h1>
<p>
  <b>Contact:</b>
  <%= @ad.contact %>
</p>

<p>
  <b>Phone:</b>
  <%= @ad.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @ad.email %>
</p>

<p>
  <b>Type:</b>
  <%= @ad.ad_type.name %>
</p>

<p>
  <b>Address:</b>
  <%= @ad.address %>
</p>

<p>
  <b>Notes:</b>
  <%= @ad.notes %>
</p>


<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
