- title(t(:schedule) + ' ' + @stage.name)
- content_for :headerextra do
  :css
    	#external-events {
    		float: left;
    		width: 150px;
        padding: 0 10px;
        margin-left: 10px;
    		border: 1px solid #ccc;
    		background: #eee;
    		text-align: left;
    		}
    
    	#external-events h4 {
    		font-size: 16px;
    		margin-top: 0;
    		padding-top: 1em;
    		}
    
    	.external-event { /* try to mimick the look of a real event */
    		margin: 10px 0;
    		padding: 2px 4px;
    		background: #3366CC;
    		color: #fff;
    		font-size: .85em;
    		cursor: pointer;
    		}
    
    	#external-events p {
    		margin: 1.5em 0;
    		font-size: 11px;
    		color: #666;
    		}
    
    	#external-events p input {
    		margin: 0;
    		vertical-align: middle;
    		}
    
    	#calendar {
    		float: left;
    		width: 500px;
    		}
:javascript
  $(document).ready(function() {
    $('#external-events div.external-event').each(function() {
      var eventObject = {
        id: $.trim($(this).attr('id')),
        title: $.trim($(this).text())
      };
      $(this).data('eventObject', eventObject);
      $(this).draggable({
        zIndex: 999,
        revert: true,
        revertDuration: 0
      });
    });
    var fcal = $('#calendar').fullCalendar({
      header: {
        left: '',
        center: 'title',
        right: ''
      },
      defaultView: 'agendaWeek',
      defaultDate: "#{@stage.from.strftime("%Y-%m-%d")}",
      axisFormat: 'H:mm',
      timeFormat: 'H:mm',
      height: 3500,
      dayNamesShort: ['Søn','Man','Tir','Ons','Tor','Fre','Lør'],
      dayNames: ['Søndag','Mandag','Tirsdag','Onsdag','Torsdag','Fredag','Lørdag'],
      titleFormat: {
        month: 'MMMM YYYY',
        week: "YYYY-MM-DD",
        day: 'dddd, MMM d, YYYY'
      },
      columnFormat: {
        month: 'ddd',
        week: 'dddd DD. MMM',
        day: 'dddd M/d'
      },
      disableResizing: true,
      editable: true,
      droppable: true,
      firstDay: 5,
      weekends: true,
      hiddenDays: [ 1,2,3,4 ],
      allDaySlot: false,
      slotDuration: '00:05:00',
      defaultTimedEventDuration: '00:05:00',
      events: "#{stage_stage_schedule_path(@stage.id, 1)}",
      drop: function(date) {
        var originalEventObject = $(this).data('eventObject');
        var copiedEventObject = $.extend({}, originalEventObject);
        copiedEventObject.start = date;
        $('#calendar').fullCalendar('renderEvent', copiedEventObject, false);
        jQuery.ajax({
          data: 'band_id=' + copiedEventObject.id + '&year=' + date.year() + '&month=' + (date.months() +1) + '&day=' + date.date() + '&hour=' + date.hours() + '&minute=' + date.minutes(),
          dataType: 'script',
          type: 'post',
          url: '/stages/#{@stage.id}/stage_schedules'
        });
        $(this).remove();
      },
      eventDrop: function(event, delta, revertFunc) {
        jQuery.ajax({
          data: 'band_id=' + event.id + '&day_delta=' + delta.days() + '&minute_delta=' + delta.minutes(),
          dataType: 'script',
          type: 'put',
          url: '/stages/#{@stage.id}/stage_schedules/' + event.id
        });
      },
      eventRender: function(event, element, view) {
        element.qtip({
          content: {
            title: {
              text: event.title,
              button: 'Close'
            },
            text: '<a href="#" onclick="jQuery.ajax({type: \'delete\',url: \'/stages/#{@stage.id}/stage_schedules/' + event.id + '\'})">Slett</a>'
          },
          style: {
            classes: 'qtip-bootstrap'
          },
          show: 'click',
          hide: false
        });
      }
    });
  });
.container
  %h1
    Tidsskjema #{@stage.name}
  %p
    Forsink alle band med:
    \#{link_to("15 min.", delay_band_orders_path(:delay => 05))}
    | #{link_to("30 min.", delay_band_orders_path(:delay => 10))}
    | #{link_to("-15 min.", delay_band_orders_path(:delay => -05))}
  #calendar
  #external-events
    %h4 Band uten spilletid
    %p Dra dem dit du vil ha dem på kalenderen
    - @events.each do |event|
      .external-event{:id => event.id}= event.name
  %div{:style => "clear:both"}
