<% title "Bandprogram" %>
<h1>Bandprogram</h1>
<p>Forsink alle band med: <%= link_to("5 min.", delay_band_orders_path(:delay => 5)) %>
| <%= link_to("15 min.", delay_band_orders_path(:delay => 15)) %>
| <%= link_to("30 min.", delay_band_orders_path(:delay => 30)) %></p>
<table class="border">
  <tr>
    <th>Spilletid</th>
    <th>Navn</th>
  </tr>

<% @stage_schedules.each do |stage_schedule| %>
  <tr>
    <td><%= stage_schedule.from %></td>
    <td><%= stage_schedule.band.name %></td>
  </tr>
<% end %>
</table>