<h1>Listing crew_merchandise_order_lines</h1>

<table>
  <thead>
    <tr>
      <th>Crew merchandise order</th>
      <th>Quantity</th>
      <th>Merchandise article variant</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @crew_merchandise_order_lines.each do |crew_merchandise_order_line| %>
      <tr>
        <td><%= crew_merchandise_order_line.crew_merchandise_order %></td>
        <td><%= crew_merchandise_order_line.quantity %></td>
        <td><%= crew_merchandise_order_line.merchandise_article_variant %></td>
        <td><%= link_to 'Show', crew_merchandise_order_line %></td>
        <td><%= link_to 'Edit', edit_crew_merchandise_order_line_path(crew_merchandise_order_line) %></td>
        <td><%= link_to 'Destroy', crew_merchandise_order_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crew merchandise order line', new_crew_merchandise_order_line_path %>
