- title t(:statistics)
- ad_sum = Ad.where(event_id: active_event.id).each.inject(0) {|sum, ad| sum + ad.ad_type.value}
- ad_sum_percent = ((ad_sum.to_f / 250000) * 100).round
- band_members_count = Band.all.each.inject(0) {|count, band| count + band.band_members.count}
:javascript
  $(document).ready(function() {
    var data = [
      {
        value: #{CrewApplication.all.count},
        color: "#99b433",
        highlight: "#a9c443",
        label: "Søknader"
      },
      {
        value: #{Volunteer.all.count},
        color: "#2d89ef",
        highlight: "#3d99ff",
        label: "Frivillige"
      }
    ];
    var ctx = $("#volunteersVSapplicants").get(0).getContext("2d");
    var myPieChart = new Chart(ctx).Pie(data);
  });
.container
  %h1= t(:statistics)
  %h2= t(:volunteers)
  .row
    .col-lg-4
      %p
        %strong Frivillige vs. Søknader
      %canvas#volunteersVSapplicants{:width => "200", :height => "200"}
      %ul
        %li Antall søknader: #{CrewApplication.all.count}
        %li Antall frivillige: #{Volunteer.all.count}
    .col-lg-4
      %p
        %strong Grupper
    .col-lg-4
      %p
        %strong Alder
  %h2 Band
  %p
    Påmeldte band: #{Band.all.count}
    %br
    Totalt antall bandmedlemmer: #{band_members_count}
    %br
    Gjennomsnittlig antall bandmedlemmer per band: #{(band_members_count.to_f / Band.all.count).round}
  %h2= t(:ads)
  .progress
    %div.progress-bar{:role => "progressbar", :style => "width: #{ad_sum_percent}%;"}
      #{ad_sum_percent}% (#{number_with_delimiter(ad_sum, delimiter: ' ')}kr) / 250 000kr
  %table.table.table-striped
    %tr
      %th Type
      %th Antall
      %th Sum
    - @ad_types.each do |ad_type|
      %tr
        %td= ad_type.name
        %td= ad_type.ads.count
        %td= ad_type.value * ad_type.ads.count
  %h2 Brukere
  %p
    RMR-brukere: #{User.where.not(crypted_password: nil).count}
    %br
    Facebook-brukere: #{Authentication.where(provider: 'facebook').count}
    %br
    Twitter-brukere: #{Authentication.where(provider: 'twitter').count}
