= form_for(@group) do |f|
  - if @group.errors.any?
    #error_explanation
      %h2
        = pluralize(@group.errors.count, "error")
        prohibited this group from being saved:
      %ul
        - @group.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :name
    %br/
    = f.text_field :name, class: "form-control"
  .form-group
    = f.label :description
    %br/
    = f.text_area :description, rows: 10, class: "form-control"
  .checkbox
    %label
      = f.check_box :internal
      %strong= Group.human_attribute_name(:internal_group)
  .form-group
    = f.submit class: "form-control btn btn-primary"
