<% title t(:groups) %>
<div class="container">
  <h1><%= t(:groups) %></h1>
  <table class="table table-striped">
    <tr>
      <th><%= t(:name) %></th>
      <th><%= t(:description) %></th>
      <th><%= t(:internal_group) %></th>
      <th></th>
    </tr>
  <% @groups.each do |group| %>
    <tr>
      <td><%= group.name %></td>
      <th><%= nl2br(group.description) if group.description %></td>
      <td><%= group.internal ? t(:answer_yes) : t(:answer_no) %></td>
      <td><%= link_to t(:show), group %> | <%= link_to t(:edit), edit_group_path(group) %> | <%= link_to t(:delete), group, :confirm => t(:confirm), :method => :delete %></td>
    </tr>
  <% end %>
  </table>
  <p><%= link_to t(:new_group), new_group_path %></p>
</div>
