- title @group.name
%h1= @group.name
%p= nl2br(@group.description) if @group.description
%table.border
  %tr
    %th Navn
    %th Adresse
    %th Fødselsdato
    %th Epost
    %th Telefon
    %th Crewkort
    %th
  - @group.volunteers.each do |volunteer|
    %tr
      %td= volunteer.name
      %td= nl2br(volunteer.address)
      %td= volunteer.birthday
      %td= volunteer.email
      %td= volunteer.phone
      %td= volunteer.access_level
      %td
        = link_to t(:show), volunteer
        |
        \#{link_to t(:edit), edit_volunteer_path(volunteer)} |
        \#{link_to t(:delete), volunteer, :confirm => t(:confirm), :method => :delete}
/ <p><haml:loud> link_to &amp;#39;Nytt crewmedlem&amp;#39;, new_group_volunteer_path(@group) </haml:loud></p>
%p
  = t(:count)
  \: #{@group.volunteers.count}
%h2 Crewsøkere
- 4.times do |c|
  %h3
    = c+1
    \. valg
  %table.border
    %tr
      %th Navn
      %th Adresse
      %th Fødselsdato
      %th Epost
      %th Telefon
      %th Relevant erfaring
      %th Brukernavn
      - 4.times do |i|
        %th
          = i+1
          \. valg
      %th
    - @group.crew_wishes.where(:priority => c+1).each do |crew_wish| crew_application = crew_wish.crew_application
      - if crew_application
        %tr
          %td= crew_application.name
          %td= crew_application.address
          %td= crew_application.birthday
          %td= crew_application.email
          %td= crew_application.phone
          %td= crew_application.experience
          %td= crew_application.user.username if crew_application.user
          - crew_application.crew_wishes.each do |crew_wish|
            - if crew_wish.group_id
              <td
              - if crew_wish.group == @group
                style="font-weight: bold;"
              >#{crew_wish.group.name}
            - else
              %td Ikke valgt
          %td
            = link_to 'Velg', choose_group_crew_application_path(@group, crew_application)
            |
            \#{link_to t(:edit), edit_group_crew_application_path(@group, crew_application)} |
            \#{link_to t(:delete), crew_application, :confirm => t(:confirm), :method => :delete}
%p= link_to t(:back), groups_path
