<%= form_for(@crew_application) do |f| %>
  <% if @crew_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crew_application.errors.count, "error") %> prohibited this crew_application from being saved:</h2>

      <ul>
      <% @crew_application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="field">
    <%= f.label t(:name) %><br />
    <%= f.text_field :name, :value => current_user.name %>
  </div>
  <div class="field">
    <%= f.label t(:address) %><br />
    <%= f.text_area :address, :size => '30x4' %>
  </div>
  <div class="field">
    <%= f.label t(:birthday) %><br />
    <%= f.date_select :birthday, :include_blank => true, :start_year => 1900, :end_year => Time.now.year %>
  </div>
  <div class="field">
    <%= f.label t(:email) %><br />
    <%= f.text_field :email, :value => current_user.email %>
  </div>
  <div class="field">
    <%= f.label t(:phone) %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label t(:relevant_experience) %><br />
    <%= f.text_area :experience, :size => '30x6' %>
  </div>
  <% @crew_application.crew_wishes.each.with_index do |crew_wish,index| %>
  <%= f.fields_for :crew_wishes, crew_wish do |fsub| %>
  <div class="field">
    <%= fsub.label (index + 1).to_s + '. ' + t(:option) %><br />
    <%= fsub.collection_select :group_id, Group.all, :id, :name, {:include_blank => 'Ikke valgt'} %>
    <%= fsub.hidden_field :priority, :value => (index + 1) %>
  </div>
  <% end %>
  <% end %>
  <div class="actions">
    <%= f.submit t(:submit_application) %>
  </div>
<% end %>
