<% title t(:crew_applications) %>
<h1><%= t(:crew_applications) %></h1>
<table class="border">
  <tr>
    <th><%= t(:name) %></th>
    <th><%= t(:address) %></th>
    <th><%= t(:birthday) %></th>
    <th><%= t(:email) %></th>
    <th><%= t(:phone) %></th>
    <th><%= t(:relevant_experience) %></th>
    <th><%= t(:username) %></th>
    <th>1. <%= t(:option) %></th>
    <th>2. <%= t(:option) %></th>
    <th>3. <%= t(:option) %></th>
    <th>4. <%= t(:option) %></th>
    <th></th>
  </tr>
<% @crew_applications.each do |crew_application| %>
  <tr>
    <td><%= crew_application.name %></td>
    <td><%= crew_application.address %></td>
    <td><%= crew_application.birthday %></td>
    <td><%= crew_application.email %></td>
    <td><%= crew_application.phone %></td>
    <td><%= crew_application.experience %></td>
    <td><%= crew_application.user.username %></td>
    <% crew_application.crew_wishes.each do |crew_wish| %>
    <% if crew_wish.group_id %>
    <td><%= crew_wish.group.name %></td>
    <% else %>
    <td>Ikke valgt</td>
    <% end %>
    <% end %>
    <td>
      <%= link_to t(:show), crew_application %> |
      <%= link_to t(:edit), edit_crew_application_path(crew_application) %> |
      <%= link_to t(:delete), crew_application, :confirm => t(:confirm), :method => :delete %>
    </td>
  </tr>
<% end %>
</table>
<p><%= link_to 'New Crew application', new_crew_application_path %></p>
