<% title t(:crew_application) %>
<div class="container">
  <h1><%= t(:crew_application) %></h1>
  <table class="border">
    <tr>
      <th><%= t(:name) %></th>
      <td><%= @crew_application.name %></td>
    </tr>
    <tr>
      <th><%= t(:address) %></th>
      <td><%= nl2br(@crew_application.address) %></td>
    </tr>
    <tr>
      <th><%= t(:birthday) %></th>
      <td><%= @crew_application.birthday %></td>
    </tr>
    <tr>
      <th><%= t(:email) %></th>
      <td><%= @crew_application.email %></td>
    </tr>
    <tr>
      <th><%= t(:phone) %></th>
      <td><%= @crew_application.phone %></td>
    </tr>
    <tr>
      <th><%= t(:relevant_experience) %></th>
      <td><%= nl2br(@crew_application.experience) %></td>
    </tr>
    <% @crew_application.crew_wishes.each do |crew_wish| %>
    <% if crew_wish.group_id %>
    <tr>
      <th><%= crew_wish.priority.to_s + '. ' + t(:option) %></th>
      <td><%= crew_wish.group.name %></td>
    </tr>
    <% end %>
    <% end %>
  </table>

  <p><%= link_to 'Endre', edit_crew_application_path(@crew_application) %> |
  <%= link_to 'Slett', @crew_application, :method => :delete %> |
  <%= link_to 'Tilbake til forsiden', :root %></p>
</div>
