%div{:style => "max-width: 350px;"}
  = form_for(@user) do |f|
    - if @user.errors.any?
      #error_explanation
        %h2
          = pluralize(@user.errors.count, "error")
          prohibited this user from being saved:
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg
    .form-group
      = f.label t(:name)
      %br/
      = f.text_field :name, class: 'form-control'
    .form-group
      = f.label t(:username)
      %br/
      = f.text_field :username, class: 'form-control'
    .form-group
      = f.label t(:email)
      %br/
      = f.text_field :email, class: 'form-control'
    .form-group
      = f.label t(:password)
      %br/
      = f.password_field :password, class: 'form-control'
    .form-group
      = f.label t(:password_confirmation)
      %br/
      = f.password_field :password_confirmation, class: 'form-control'
    - permitted_to? :manage, :roles do
      .form-group
        = f.label t(:roles).capitalize
        %br/
        - for role in Role.all
          = check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role)
          = h role.name
          %br/
    .actions
      = f.submit class: 'btn btn-primary btn-block'
