.col-lg-5
  = form_for(@user) do |f|
    - if @user.errors.any?
      #error_explanation
        %h2
          = pluralize(@user.errors.count, "error")
          prohibited this user from being saved:
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg
    .form-group
      = f.label :name
      %br/
      = f.text_field :name, class: 'form-control'
    - permitted_to? :manage, :users do 
      .form-group
        = f.label :username
        %br/
        = f.text_field :username, class: 'form-control'
    .form-group
      = f.label :email
      %br/
      = f.text_field :email, class: 'form-control'
    .form-group
      = f.label :password
      %br/
      = f.password_field :password, class: 'form-control'
    .form-group
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, class: 'form-control'
    - permitted_to? :manage, :roles do
      %strong= t(:roles).capitalize
      - for role in Role.all
        .checkbox
          %label
            = check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role)
            = role.name
    - if current_user == @user
      .checkbox
        %label
          = f.check_box :communication_consent
          %strong= t(:consent_to_communication)
    .actions
      = f.submit class: 'btn btn-primary btn-block'
