- title t(:listing).capitalize + ' ' + t(:users)
.container
  %h1= t(:listing).capitalize + ' ' + t(:users)
  %table.table.table-striped
    %tr
      %th= t(:username)
      %th= t(:name)
      %th= t(:email)
      %th= t(:roles).capitalize
      %th Type
      %th{:title => "Crewsøknad?"} CS?
      %th{:title => "Bandsøknad?"} BS?
      %th
      %th
      %th
    - @users.each do |user|
      %tr
        %td= user.username
        %td= user.name
        %td= user.email
        %td= user.roles.map(&:name).to_sentence.capitalize
        %td
          - if user.authentications.count > 0
            = user.authentications.map(&:provider).to_sentence.capitalize
          - else
            RMR-bruker
        %td
          - if crew_application = CrewApplication.find_by_user_id(user.id)
            = link_to 'Ja', crew_application
          - else
            Nei
        %td
          - if band = Band.find_by_user_id(user.id)
            = link_to 'Ja', band
          - else
            Nei
        %td= link_to t(:show), user
        %td= link_to t(:edit), edit_user_path(user)
        %td= link_to t(:delete), user, :confirm => 'Are you sure?', :method => :delete
    %tr
      %td{:colspan => "10"}
        Antall: #{@users.count}
  %p= link_to t(:new).capitalize + ' ' + t(:user), new_user_path
