- title User.model_name.human(count: 2)
.container
  %h1= User.model_name.human(count: 2)
  %table.table.table-striped
    %tr
      %th= User.human_attribute_name(:username)
      %th= User.human_attribute_name(:name)
      %th= User.human_attribute_name(:email)
      %th= User.human_attribute_name(:roles)
      %th= User.human_attribute_name(:type)
      %th{:title => "Crewsøknad?"} CS?
      %th= Band.model_name.human
      %th
    - @users.each do |user|
      %tr
        %td= user.username
        %td= user.name
        %td= user.email
        %td= user.roles.map(&:name).to_sentence.capitalize
        %td
          - if user.authentications.count > 0
            = user.authentications.map(&:provider).to_sentence.capitalize
          - else
            = t(:local_user)
        %td
          - if user.crew_application
            = link_to t(:answer_yes), user.crew_application
          - elsif user.volunteers.count > 0
            = link_to "Crew", user.volunteers.first
          - else
            = t(:answer_no)
        %td
          - if user.bands.count > 0
            = link_to t(:answer_yes), user.bands.first
          - else
            = t(:answer_no)
        %td
          = link_to t(:show), user
          |
          = link_to t(:edit), edit_user_path(user)
          |
          = link_to t(:delete), user, method: :delete, data: { confirm: t(:confirm) }
    %tr
      %td{:colspan => "8"}
        #{t(:count)}: #{@users.count}
  %p= link_to "#{t(:create)} #{User.model_name.human.downcase}", new_user_path
