<% title t(:user).capitalize + ': ' + @user.username %>
<h1><%= t(:user).capitalize + ': ' + @user.username %></h1>
<table class="border">
  <tr>
    <th><%= t(:username) %>:</th>
    <td><%= @user.username %></td>
  </tr>
  <tr>
    <th><%= t(:name) %>:</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th><%= t(:email) %>:</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th><%= t(:roles).capitalize %>:</th>
    <td><%= @user.roles.map(&:title).to_sentence.capitalize %></td>
  </tr>
</table>
<p>
<%= link_to t(:edit), edit_user_path(@user) %> |
<%= link_to t(:back), users_path %>
</p>
