<%= form_for(@band_order, :url => band_order_path(@band_order)) do |f| %>
  <% if @band_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@band_order.errors.count, "error") %> prohibited this band_order from being saved:</h2>

      <ul>
      <% @band_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= @band_order.band.name %>
  </div>
  <div class="field">
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br />
    <%= f.datetime_select :end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
