<% title @title %>
<h1><%= @title %></h1>
<% if current_user %>
<h2>Crewsøknad</h2>
<% if current_user.crew_application && !(current_user.crew_application.volunteer_id) %>
<% crew_application = current_user.crew_application %>
<table class="border">
  <tr>
    <th><%= t(:name) %></th>
    <td><%= crew_application.name %></td>
  </tr>
  <tr>
    <th><%= t(:address) %></th>
    <td><%= nl2br(crew_application.address) %></td>
  </tr>
  <tr>
    <th><%= t(:birthday) %></th>
    <td><%= crew_application.birthday %></td>
  </tr>
  <tr>
    <th><%= t(:email) %></th>
    <td><%= crew_application.email %></td>
  </tr>
  <tr>
    <th><%= t(:phone) %></th>
    <td><%= crew_application.phone %></td>
  </tr>
  <tr>
    <th><%= t(:relevant_experience) %></th>
    <td><%= nl2br(crew_application.experience) %></td>
  </tr>
<% crew_application.crew_wishes.each do |crew_wish| %>
<% if crew_wish.group_id %>
  <tr>
    <th><%= crew_wish.priority.to_s + '. ' + t(:option) %></th>
    <td><%= crew_wish.group.name %></td>
  </tr>
<% end %>
<% end %>
</table>
<p><%= link_to 'Endre crewsøknad', edit_crew_application_path(current_user.crew_application) %><br/>
<%= link_to 'Slett crewsøknad', crew_application_path(current_user.crew_application), :method => :delete %><br/></p>
<% else %>
<p><%= link_to 'Legg inn crewsøknad', new_crew_application_path %></p>
<% end %>
<% current_user.volunteers.each do |volunteer| %>
<p>Valgt til <%= volunteer.group.name %>-gruppa</p>
<table class="border">
  <tr>
    <th>Navn</th>
    <th>Epost</th>
    <th>Telefon</th>
    <th>Crewkort</th>
  </tr>
<% volunteer.group.volunteers.each do |group_volunteer| %>
  <tr>
    <td><%= group_volunteer.name %></td>
    <td><%= group_volunteer.email %></td>
    <td><%= group_volunteer.phone %></td>
    <td><%= group_volunteer.access_level %></td>
  </tr>
<% end %>
</table>
<% end %>
<h2>Bandpåmelding</h2>
<% current_user.bands.each do |band| %>
<p>&gt; <%= link_to band.name, band %> | <%= link_to 'Slett', band_path(band), :method => :delete %></p>
<% end %>
<p><%= link_to 'Legg inn bandpåmelding', new_band_path %></p>
<% end %>
<% if !current_user %>
<h2 style="text-align: center;">INNLOGGING</h2>
<div class="container" style="max-width: 398px;">
<div class="column" style="text-align: left; width: 188px;">
<h3>1: Facebook / Twitter</h3>
<%= link_to image_tag('facebook_login_button.png', :alt => 'Logg inn med Facebook', :title => 'Logg inn med Facebook'), auth_at_provider_path(:provider => :facebook) %><br>
<%= link_to image_tag('sign-in-with-twitter-d.png', :alt => 'Logg inn med Twitter', :title => 'Logg inn med Twitter'), auth_at_provider_path(:provider => :twitter) %>
</div>
<div class="column" style="text-align: left; width: 188px;">
<h3>2: RMR-konto</h3>
<%= form_tag user_sessions_path, :method => :post, :style => 'display: inline' do %>
  <%= hidden_field_tag :referer, @referer.to_s %>
  <%= text_field_tag :username, '', :size => 9, :placeholder => 'Brukernavn' %> /
  <%= password_field_tag :password, '', :size => 7, :placeholder => 'Passord' %><br>
  <%= submit_tag 'Logg inn'%><br>
  <span style="font-size: 11px;"><%= link_to "Registrer", new_user_path %></span>
<% end %>
</div>
<div style="clear: both;"></div>
</div>
<hr>
<% end %>
<div class="container">
<div class="column">
<h2>ROCKEMØNSTRING</h2>
<p>Påmelding rockemønstring</p>
</div>
<div class="column">
<h2>FRIVILLIG</h2>
<p>Søknadsskjema frivillig</p>
</div>
<div style="clear: both;"></div>
</div>
