<% title @title %>
<% has_crew_application = FALSE
if current_user && current_user.crew_application && !(current_user.crew_application.volunteer_id)
  has_crew_application = TRUE
end
is_volunteer = FALSE
if current_user && current_user.volunteers.count > 0
  is_volunteer = TRUE
end %>
  <div class="container">
    <h2>ROCKEMØNSTRING</h2>
<% if current_user %>
<% current_user.bands.each do |band| %>
    <p>&gt; <%= link_to band.name, band %> | <%= link_to 'Slett', band_path(band), :method => :delete, confirm: 'Er du sikker på at du vil slette bandet?' %></p>
<% end %>
<% end %>
    <p>
      <%= link_to 'Påmelding &raquo;'.html_safe, new_band_path, class: 'btn btn-primary' %>
      <%= link_to 'Mer informasjon &raquo;'.html_safe, info_bands_path, class: 'btn btn-info' %>
    </p>
  </div>
  <hr>
  <div class="container">
    <h2>FRIVILLIG</h2>
<% if has_crew_application %>
<% crew_application = current_user.crew_application %>
<table class="border">
  <tr>
    <th><%= t(:name) %></th>
    <td><%= crew_application.name %></td>
  </tr>
  <tr>
    <th><%= t(:address) %></th>
    <td><%= nl2br(crew_application.address) %></td>
  </tr>
  <tr>
    <th><%= t(:birthday) %></th>
    <td><%= crew_application.birthday %></td>
  </tr>
  <tr>
    <th><%= t(:email) %></th>
    <td><%= crew_application.email %></td>
  </tr>
  <tr>
    <th><%= t(:phone) %></th>
    <td><%= crew_application.phone %></td>
  </tr>
  <tr>
    <th><%= t(:relevant_experience) %></th>
    <td><%= nl2br(crew_application.experience) %></td>
  </tr>
<% crew_application.crew_wishes.each do |crew_wish| %>
<% if crew_wish.group_id %>
  <tr>
    <th><%= crew_wish.priority.to_s + '. ' + t(:option) %></th>
    <td><%= crew_wish.group.name %></td>
  </tr>
<% end %>
<% end %>
</table>
<p><%= link_to 'Endre crewsøknad', edit_crew_application_path(current_user.crew_application), class: 'btn btn-primary' %>
<%= link_to 'Slett crewsøknad', crew_application_path(current_user.crew_application), :method => :delete, class: 'btn btn-danger', confirm: 'Er du helt sikker?' %>
<% elsif is_volunteer %>
<% current_user.volunteers.each do |volunteer| %>
<p>Valgt til <%= volunteer.group.name %>-gruppa</p>
<table class="border">
  <tr>
    <th>Navn</th>
    <th>Epost</th>
    <th>Telefon</th>
    <th>Crewkort</th>
  </tr>
<% volunteer.group.volunteers.each do |group_volunteer| %>
  <tr>
    <td><%= group_volunteer.name %></td>
    <td><%= group_volunteer.email %></td>
    <td><%= group_volunteer.phone %></td>
    <td><%= group_volunteer.access_level %></td>
  </tr>
<% end %>
</table>
<% end %>
<% else %>
    <p>
      <%= link_to 'Søknadsskjema &raquo;'.html_safe, new_crew_application_path, class: 'btn btn-primary' %>
<% end %>
      <%= link_to 'Mer informasjon &raquo;'.html_safe, info_volunteers_path, class: 'btn btn-info' %>
    </p>
  </div>

