<% title 'FestivalAdmin' %>
<h1>FestivalAdmin</h1>
<% if current_user && current_user.crew_application && !(current_user.crew_application.volunteer_id) %>
<p><%= link_to 'Endre crewsøknad', edit_crew_application_path(current_user.crew_application) %><br/>
<%= link_to 'Slett crewsøknad', crew_application_path(current_user.crew_application), :method => :delete %><br/></p>
<% elsif current_user %>
<p><%= link_to 'Legg inn crewsøknad', new_crew_application_path %></p>
<% end %>
<% if current_user && current_user.volunteers.count > 0 %>
<% current_user.volunteers.each do |volunteer_me| %>
<p>Valgt til <%= volunteer_me.group.name %>-gruppa</p>
<table class="border">
  <tr>
    <th>Navn</th>
    <th>Epost</th>
    <th>Telefon</th>
    <th>Crewkort</th>
  </tr>
<% volunteer_me.group.volunteers.each do |volunteer| %>
  <tr>
    <td><%= volunteer.name %></td>
    <td><%= volunteer.email %></td>
    <td><%= volunteer.phone %></td>
    <td><%= volunteer.access_level %></td>
  </tr>
<% end %>
</table>
<% end %>
<% end %>
<% if current_user %>
<p><%= link_to 'Legg inn bandpåmelding', new_band_path %></p>
<% current_user.bands.each do |band| %>
<p><%= band.name %>: <%= link_to 'Endre bandpåmelding', edit_band_path(band) %> | <%= link_to 'Slett bandpåmelding', band_path(band), :method => :delete %></p>
<% end %>
<% end %>
<% if !current_user %>
<p>Du må være innlogget for å legge inn crewsøknad og bandpåmelding. Vi anbefaler facebook-innloggingen.</p>
<% end %>
