.row
  .col-lg-5
    = form_for(@event) do |f|
      - if @event.errors.any?
        #error_explanation
          %h2
            = pluralize(@event.errors.count, "error")
            prohibited this event from being saved:
          %ul
            - @event.errors.full_messages.each do |msg|
              %li= msg
      .form-group
        = f.label :name
        %br
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :from
        %br
        = f.datetime_select :from, {start_year: Time.now.year + 2, end_year: Time.now.year - 50}
      .form-group
        = f.label :to
        %br
        = f.datetime_select :to, class: 'form-control'
      .actions
        = f.submit(nil, class: 'btn btn-primary btn-block')
