%div{:style => "max-width: 300px;"}
  = form_for([@band, @band_member]) do |f|
    - if @band_member.errors.any?
      #error_explanation
        %h2
          = pluralize(@band_member.errors.count, "error")
          feil hindret bandmedlemmet fra å bli lagret:
        %ul
          - @band_member.errors.full_messages.each do |msg|
            %li{:style => "color: red;"}= msg
    = hidden_field_tag :id, params[:id]
    = f.hidden_field :user_id, :value => current_user.id if current_user
    .form-group
      = f.label :name
      %br
      = f.text_field :name, class: 'form-control'
    .form-group
      = f.label :phone
      %br
      = f.text_field :phone, class: 'form-control'
    .form-group
      = f.label :role
      %br/
      = f.text_field :role, class: 'form-control'
    .form-group
      = f.submit nil, class: 'btn btn-primary btn-block'
