<%= form_for([@band, @band_member]) do |f| %>
  <% if @band_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@band_member.errors.count, "error") %> prohibited this band_member from being saved:</h2>

      <ul>
      <% @band_member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :id, params[:id] %>
  <div class="field">
    <%= f.label :name, t(:name) %><br>
    <%= f.text_field :name %>
  </div>
  <%= f.fields_for :person do |p| %>
  <div class="field">
    <%= p.label :name, t(:name) %><br>
    <%= p.text_field :name %>
  </div>
  <div class="field">
    <%= p.label :address, t(:address) %><br>
    <%= p.text_area :address, :size => '30x4' %>
  </div>
  <div class="field">
    <%= p.label :email, t(:email) %><br>
    <%= p.text_field :email %>
  </div>
  <div class="field">
    <%= p.label :phone, t(:phone) %><br>
    <%= p.text_field :phone %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :role, t(:role) %><br>
    <%= f.text_field :role %>
  </div>
  <div class="actions">
    <%= f.submit t(:submit) %>
  </div>
<% end %>
