- @bands.each do |band|
  %h1= band.name
  %table.border
    %tr
      %th= t(:name)
      %th= t(:role)
      %th= t(:address)
      %th= t(:email)
      %th= t(:phone)
      %th
    - band.band_members.each do |band_member|
      %tr
        %td= if band_member.person then band_member.person.name end
        %td= band_member.role
        %td= if band_member.person then nl2br(band_member.person.address) end
        %td= if band_member.person then band_member.person.email end
        %td= if band_member.person then band_member.person.phone end
        %td
          = link_to t(:edit), edit_band_band_member_path(band, band_member)
          | #{link_to t(:delete), [band, band_member], :confirm => t(:confirm), :method => :delete}
