<p id="notice"><%= notice %></p>

<p>
  <b>Band:</b>
  <%= @band_member.band_id %>
</p>

<p>
  <b>Name:</b>
  <%= @band_member.name %>
</p>

<p>
  <b>Role:</b>
  <%= @band_member.role %>
</p>


<%= link_to 'Edit', edit_band_band_member_path(@band, @band_member) %> |
<%= link_to 'Back', @band %>
