<%
config = @access_level.card_config
page_dims = @access_level.page_dimensions
card_dims = @access_level.calculated_card_dimensions
%>
<html>
  <head>
    <title>Crewkort</title>
    <style>
      body, html { padding: 0; margin: 0; }
      .page {
        height: <%= page_dims[:height] %>px;
        width: <%= page_dims[:width] %>px;
        background-image: url(<%= "https://files.crewpicker.io/#{ENV['CREWPICKER_INSTANCE']}/#{@access_level.background}" %>);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
      }
      table {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
      }
      td {
        width: <%= 100.0 / config[:columns] %>%;
        height: <%= 100.0 / config[:rows] %>%;
        text-align: center;
        vertical-align: top;
        font-family: Impact, sans-serif;
      }
      .card-content {
        padding-top: <%= (@access_level.calculated_text_top.to_f / card_dims[:height] * 100).to_i %>%;
        padding-left: <%= config[:text_left] %>px;
        padding-right: <%= config[:text_right] %>px;
        height: 100%;
        box-sizing: border-box;
      }
      .card-title {
        font-size: <%= config[:font_size] %>px;
        color: <%= config[:font_color] %>;
        display: block;
      }
      .card-name {
        font-size: <%= (config[:font_size] * 0.833).to_i %>px;
        color: <%= config[:font_color] %>;
        display: block;
      }
      @font-face {
        font-family: Impact;
        src: url(<%= "#{request.protocol}#{request.host_with_port}#{ActionController::Base.helpers.asset_path('impact.ttf')}" %>);
      }
    </style>
  </head>
  <body>
<%
# Collect people based on access level type
people = []
if @access_level.name == "Band"
  @bands.each do |band|
    band.band_members.each do |band_member|
      people << band_member
    end
  end
else
  people = @access_level.volunteers
end

cards_per_page = config[:columns] * config[:rows]

people.each_slice(cards_per_page) do |page_people|
%>
    <div class="page">
      <table>
        <% config[:rows].times do |row| %>
          <tr>
            <% config[:columns].times do |col| %>
              <%
              card_index = row * config[:columns] + col
              person = page_people[card_index] if card_index < page_people.length
              %>
              <td>
                <% if person %>
                  <div class="card-content">
                    <% if @access_level.name == "Band" %>
                      <span class="card-title"><%= @access_level.name.mb_chars.upcase %></span>
                    <% else %>
                      <% if @access_level.name.mb_chars.upcase == person.group.name.mb_chars.upcase %>
                        <span class="card-title"><%= @access_level.name.mb_chars.upcase %></span>
                      <% else %>
                        <span class="card-title"><%= @access_level.name.mb_chars.upcase %><br><%= person.group.name %></span>
                      <% end %>
                    <% end %>
                    <span class="card-name"><%= person.short_name %></span>
                  </div>
                <% else %>
                  <!-- Empty cell -->
                  <div class="card-content"></div>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
<%
end
%>
  </body>
</html>