- if @access_level.name == "VIP"
- background_image = "kort-vip2012.png"
- else
- background_image = "kort-crew2012.png"
- end
%html
  %head
    %title Crewkort
    %meta{:content => "A4", :name => "pdfkit-page_size"}/
    %meta{:content => "Landscape", :name => "pdfkit-orientation"}/
    %meta{:content => "0", :name => "pdfkit-margin_top"}/
    %meta{:content => "0", :name => "pdfkit-margin_bottom"}/
    %meta{:content => "0", :name => "pdfkit-margin_right"}/
    %meta{:content => "0", :name => "pdfkit-margin_left"}/
    :css
      body {
              padding: 0;
              margin: 0;
            }
            html {
              padding: 0;
              margin: 0;
            }
            table {
              padding: 0;
              margin: 0;
              height: 100%;
              text-align: center;
              color: red;
              margin: 0 auto;
            }
            td {
              padding: 0;
              margin: 0;
              width: 237px;
              font-family: Impact, sans-serif;
            }
            .al {
              font-size: 36px;
              color: #231f20;
            }
            .name {
              font-size: 26px;
              color: #231f20;
            }
            .page {
              height: 774px;
              width: 100%;
              background-image: url(#{File.expand_path(Rails.root) + '/public/images/' + background_image});
              background-repeat: no-repeat;
              background-position: center;
            }
            .spacer {
              height: 34px;
            }
            .card {
              height: 170px;
              vertical-align: top;
            }
            .card div {
      <haml:silent> if @access_level.name == "VIP" 
      </haml:silent><haml:block>        padding-top: 40px;
      </haml:block><haml:silent> else 
      </haml:silent><haml:block>        padding-top: 10px;
      </haml:block>        padding-right: 5px;
              padding-left: 5px;
            }
            .artist {
              font-size: 26px;
              color: #231f20;
            }
            @font-face {
              font-family: Impact;
              src: url(#{File.expand_path(Rails.root) + '/public/stylesheets/impact.ttf'});
            }
  %body
    .page
      %table
        %tr
          %td.spacer{:colspan => "4"}
        %tr
          %td.card{:colspan => "4"}
        %tr
          - rcounter = 0
          - ccounter = 0
          - if @access_level.name == "Band"
          - people = @people
          - else
          - people = @access_level.volunteers
          - end
          - people.each do |person|
          - if ccounter == 4
          - rcounter += 1
        - if rcounter == 2
          %tr
            %td.spacer{:colspan => "4"}
    .page
      %table
        %tr
          %td.spacer{:colspan => "4"}
        - rcounter = 0
        - end
        %tr
          %td.card{:colspan => "4"}
        %tr
          - ccounter = 0
          - end
          %td.card
            %div
              %span.al= @access_level.name.upcase
              %br/
              %span.name= person.name
              - if @access_level.name == "Artist"
                %hr/
                %span.artist= person.group.name
          - ccounter += 1
          - end
          - while ccounter != 4
            %td
          - ccounter += 1
          - end
          - if rcounter != 1
        %tr
        %tr
          %td.spacer{:colspan => "4"}
