<%= form_for(@band, :html => { :multipart => true }) do |f| %>
  <% if @band.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@band.errors.count, "error") %> prohibited this band from being saved:</h2>

      <ul>
      <% @band.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, :value => current_user.id if current_user %>
  <div class="field">
    <%= f.label "Bandnavn" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t(:contact_name) %><br />
    <%= f.text_field :contact_name, :value => ( current_user.name if current_user ) %>
  </div>
  <div class="field">
    <%= f.label t(:email) %><br />
    <%= f.text_field :email, :value => ( current_user.email if current_user ) %>
  </div>
  <div class="field">
    <%= f.label t(:phone) %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label t(:address) %><br />
    <%= f.text_area :address, :size => "25x3" %>
  </div>
  <div class="field">
    <%= f.label :postal_code, "Postnr." %> / <%= f.label :city, "Sted" %><br />
    <%= f.text_field :postal_code, :size => 4, :maxlength => 4 %> / <%= f.text_field :city, :size => 20 %>
  </div>
  <hr>
  <h2>Fortell om bandet</h2>
  <div class="field">
    <%= f.label "Beskrivelse av bandet" %><br />
    <%= f.text_area :description, :size => "50x15" %>
  </div>
  <div class="field">
    <%= f.label t(:image) %><br />
    <%= f.file_field :image %>
  </div>
  <hr>
  <h2>Deltakerlåt</h2>
  <p>(dere får spille flere)</p>
  <div class="field">
    <%= f.label t(:song_title) %><br />
    <%= f.text_field :song_title %>
  </div>
  <div class="field">
    <%= f.label t(:song_composer) %><br />
    <%= f.text_field :song_composer %>
  </div>
  <div class="field">
    <%= f.label t(:song_lyrics) %><br />
    <%= f.text_area :song_lyrics, :size => "50x20" %>
  </div>
  <div class="field">
    <%= f.label t(:playtime_wish) %> (klokkeslett fra 00:00 til 14:00)<br />
    <%= f.text_field :playtime_wish %>
  </div>
  <div class="field">
    <%= f.label t(:playtime_wish_alt) %> (klokkeslett fra 00:00 til 14:00)<br />
    <%= f.text_field :playtime_wish_alt %>
  </div>
  <div class="actions">
    <%= f.submit t(:submit) %>
  </div>
<% end %>
