- title @tk81_teknikere.model_name.human(:count => 2)
.container
  %h1= @tk81_teknikere.model_name.human(:count => 2)
  %table.table.table-striped
    %thead
      %tr
        %th Navn
        %th
    %tbody
      - @tk81_teknikere.each do |tk81_tekniker|
        %tr
          %td= tk81_tekniker.tk81_pamelding.navn
          %td
            = link_to t(:show), tk81_tekniker
            |
            = link_to t(:edit), edit_tk81_tekniker_path(tk81_tekniker)
            |
            = link_to t(:delete), tk81_tekniker, method: :delete, data: { confirm: t(:confirm) }
  %p
    = link_to "#{t(:new).camelize} #{@tk81_teknikere.model_name.human.downcase}", new_tk81_tekniker_path
