- title "#{t(:edit)} #{Stage.model_name.human.downcase}"
.container
  %h1 #{t(:edit)} #{Stage.model_name.human.downcase}
  = render 'form'
  = link_to t(:show), @stage
  |
  = link_to t(:back), stages_path
