<% title "Venues" %>
<div class="container">
  <h1>Venues</h1>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>From</th>
      <th>To</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  <% @stages.each do |stage| %>
    <tr>
      <td><%= stage.name %></td>
      <td><%= stage.from %></td>
      <td><%= stage.to %></td>
      <td><%= link_to 'Program', stage_schedules_path(stage) %></td>
      <td><%= link_to 'Edit', edit_stage_path(stage) %></td>
      <td><%= link_to 'Destroy', stage, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
  <br />
  <%= link_to 'New Stage', new_stage_path %>
</div>
