<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @stage.name %>
</p>

<p>
  <b>From:</b>
  <%= @stage.from %>
</p>

<p>
  <b>To:</b>
  <%= @stage.to %>
</p>


<%= link_to 'Edit', edit_stage_path(@stage) %> |
<%= link_to 'Back', stages_path %>
