<% title(t(:schedule) + ' ' + @location.name) %>
<% content_for :headerextra do %>
  <%= stylesheet_link_tag 'fullcalendar', 'jquery.qtip.min' %>
  <%= stylesheet_link_tag 'main', 'fullcalendar.print', :media => 'print' %>
  <%= javascript_include_tag 'jquery-1.5.min', 'jquery-ui-1.8.9.custom.min', 'fullcalendar', 'jquery.qtip.min' %>
  <style type='text/css'>
    #wrap {
      width: <%= 200 + (@location.slots * 515) %>px;
      text-align: center;
      font-size: 14px;
      font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
      margin-left: 20px;
    }
    #external-events {
      float: left;
      width: 150px;
      padding: 0 10px;
      border: 1px solid #ccc;
      background: #eee;
      text-align: left;
    }
    #external-events h4 {
      font-size: 16px;
      margin-top: 0;
      padding-top: 1em;
    }
    .external-event { /* try to mimick the look of a real event */
      margin: 10px 0;
      padding: 2px 4px;
      background: #3366CC;
      color: #fff;
      font-size: .85em;
      cursor: pointer;
    }
    #external-events p {
      margin: 1.5em 0;
      font-size: 11px;
      color: #666;
    }
    #external-events p input {
      margin: 0;
      vertical-align: middle;
    }
    #calendars {
      float: right;
      width: <%= @location.slots * 510 %>px;
    }
    .calendar {
      width: 500px;
      margin-right: 10px;
    }
    h1 {
      text-align: center;
      margin-left: 200px;
      width: <%= @location.slots * 515 %>px;
    }
  </style>
<% end %>
<script type='text/javascript'>
  function delete_event() {
    alert('bull');
  };
  $(document).ready(function() {
    $('#external-events div.external-event').each(function() {
      var eventObject = {
        id: $.trim($(this).attr('id')),
        title: $.trim($(this).text())
      };
      $(this).data('eventObject', eventObject);
      $(this).draggable({
        zIndex: 999,
        revert: true,
        revertDuration: 0
      });
    });
    $('.calendar a').bind('click',function(event) {
      event.preventDefault();
      $.get(this.href,{},function(response) {
       $('#response').html(response)
      })
    });
<% @location.slots.times do |slot| %>
    $('#calendar-<%= slot+1 %>').fullCalendar({
      header: {
        left: '',
        center: 'title',
        right: ''
      },
      defaultView: 'agendaWeekend',
      year: 2011,
      month: 03,
      date: 16,
      axisFormat: 'H:mm',
      timeFormat: 'H:mm',
      height: 3500,
      dayNamesShort: ['Søn','Man','Tir','Ons','Tor','Fre','Lør'],
      dayNames: ['Søndag','Mandag','Tirsdag','Onsdag','Torsdag','Fredag','Lørdag'],
      titleFormat: {
        month: 'MMMM yyyy',
        week: "d[ yyyy]{ '&#8212;'[ MMM] d MMMM yyyy} 'slot <%= slot+1 %>'",
        day: 'dddd, MMM d, yyyy'
      },
      columnFormat: {
        month: 'ddd',
        week: 'dddd d/M',
        day: 'dddd M/d'
      },
      disableResizing: true,
      editable: true,
      droppable: true,
      firstDay: 5,
      weekends: false,
      slotMinutes: 60,
      defaultEventMinutes: 120,
      events: '/locations/<%= @location.id %>/schedule/get_events/<%= slot+1 %>',
      drop: function(date, allDay) {
        var originalEventObject = $(this).data('eventObject');
        var copiedEventObject = $.extend({}, originalEventObject);
        copiedEventObject.start = date;
        copiedEventObject.allDay = allDay;
        jQuery.ajax({
          data: 'fireguard_id=' + copiedEventObject.id + '&year=' + date.getFullYear() + '&month=' + (date.getMonth()+1) + '&day=' + date.getDate() + '&hour=' + date.getHours() + '&minute=' + date.getMinutes(),
          dataType: 'json',
          type: 'post',
          url: '/locations/<%= @location.id %>/schedule/create/<%= slot+1 %>',
          success: function(data) {
            copiedEventObject.id = data.id;
            $('#calendar-<%= slot+1 %>').fullCalendar('renderEvent', copiedEventObject, false);
          }
        });
      },
      eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc) {
        jQuery.ajax({
          data: 'event_id=' + event.id + '&day_delta=' + dayDelta + '&minute_delta=' + minuteDelta,
          dataType: 'json',
          type: 'post',
          url: '/locations/<%= @location.id %>/schedule/move/<%= slot+1 %>'
        });
      },
      eventRender: function(event, element) {
        element.qtip({
          show: {
            event: 'click'
          },
          hide: {
            event: false
          },
          content: {
            title: {
              text: event.title,
              button: 'Close'
            },
            text: event.id + '<a href="#" onclick="jQuery.ajax({data: \'event_id=' + event.id + '\', dataType: \'script\', type: \'post\',url: \'/locations/<%= @location.id %>/schedule/delete/<%= slot+1 %>\'})">Slett</a>'
          },
          style: {
            classes: "ui-tooltip-light"
          }
        });
      }
    });
<% end %>
  });
</script>
<div id='wrap'>
  <h1>Tidsskjema <%= @location.name %></h1>
<div id='external-events'>
<h4>Brannvakter</h4>
<p>Dra dem dit du vil ha dem på kalenderen</p>
<% @events.each do |event| %>
<div class='external-event' id="<%= event.id %>"><%= event.name %></div>
<% end %>
</div>
<table id="calendars">
  <tr>

<% @location.slots.times do |slot| %>
    <td><div class="calendar" id='calendar-<%= slot+1 %>'></div></td>
<% end %>
  </tr>
</table>
<div style='clear:both'></div>
</div>
</body>
</html>
