<% title(t(:schedule) + ' ' + @stage.name) %>
<% content_for :headerextra do %>
  <%= stylesheet_link_tag 'fullcalendar' %>
  <%= stylesheet_link_tag 'main', 'fullcalendar.print', :media => 'print' %>
  <%= javascript_include_tag 'jquery-1.5.min', 'jquery-ui-1.8.9.custom.min', 'fullcalendar' %>
  <style type='text/css'>

	#wrap {
		width: 700px;
		text-align: center;
		font-size: 14px;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
                margin-left: 20px;
		}

	#external-events {
		float: left;
		width: 150px;
		padding: 0 10px;
		border: 1px solid #ccc;
		background: #eee;
		text-align: left;
		}

	#external-events h4 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
		}

	.external-event { /* try to mimick the look of a real event */
		margin: 10px 0;
		padding: 2px 4px;
		background: #3366CC;
		color: #fff;
		font-size: .85em;
		cursor: pointer;
		}

	#external-events p {
		margin: 1.5em 0;
		font-size: 11px;
		color: #666;
		}

	#external-events p input {
		margin: 0;
		vertical-align: middle;
		}

	#calendar {
		float: right;
		width: 500px;
		}

  </style>
<% end %>
<script type='text/javascript'>
	$(document).ready(function() {


		/* initialize the external events
		-----------------------------------------------------------------*/

		$('#external-events div.external-event').each(function() {

			// create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
			// it doesn't need to have a start or end
			var eventObject = {
                          id: $.trim($(this).attr('id')),
			  title: $.trim($(this).text()) // use the element's text as the event title
			};

			// store the Event Object in the DOM element so we can get to it later
			$(this).data('eventObject', eventObject);

			// make the event draggable using jQuery UI
			$(this).draggable({
				zIndex: 999,
				revert: true,      // will cause the event to go back to its
				revertDuration: 0  //  original position after the drag
			});

		});


		/* initialize the calendar
		-----------------------------------------------------------------*/

		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next',
				center: 'title',
				right: 'agendaWeek,agendaDay'
			},
			defaultView: 'agendaWeekend',
			slotMinutes: 60,
			year: 2011,
			month: 03,
			date: 16,
			axisFormat: 'H:mm',
			timeFormat: 'H:mm',
			height: 3500,
			defaultEventMinutes: 60,
			disableResizing: true,
			editable: true,
			droppable: true, // this allows things to be dropped onto the calendar !!!
                        events: '/stages/<%= @stage.id %>/schedule/get_events',
                        firstDay: 5,
                        weekends: false,
                        viewDisplay: function(view) {
                          ;
                        },
			drop: function(date, allDay) {
                          var originalEventObject = $(this).data('eventObject');
                          var copiedEventObject = $.extend({}, originalEventObject);
                          copiedEventObject.start = date;
                          copiedEventObject.allDay = allDay;
                          $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
                          jQuery.ajax({
                            data: 'band_id=' + copiedEventObject.id + '&year=' + date.getFullYear() + '&month=' + (date.getMonth()+1) + '&day=' + date.getDate() + '&hour=' + date.getHours() + '&minute=' + date.getMinutes(),
                            dataType: 'script',
                            type: 'post',
                            url: '/stages/<%= @stage.id %>/schedule/create'
                          });
                          $(this).remove();
			},
                        eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc) {
                          jQuery.ajax({
                            data: 'band_id=' + event.id + '&day_delta=' + dayDelta + '&minute_delta=' + minuteDelta,
                            dataType: 'script',
                            type: 'post',
                            url: '/stages/<%= @stage.id %>/schedule/move'
                          });
                        }
		});


	});

</script>
<div id='wrap'>
  <h1>Tidsskjema <%= @stage.name %></h1>
<div id='external-events'>
<h4>Band uten spilletid</h4>
<p>Dra dem dit du vil ha dem på kalenderen</p>
<% @events.each do |event| %>
<div class='external-event' id="<%= event.uuid %>"><%= event.name %></div>
<% end %>
</div>

<div id='calendar'></div>

<div style='clear:both'></div>
</div>
</body>
</html>
