<% title t(:fireguards) %>
<h1><%= t(:fireguards) %></h1>
<table class="border">
  <tr>
    <th><%= t(:name) %></th>
    <th><%= t(:age) %></th>
    <th><%= t(:address) %></th>
    <th><%= t(:phone) %></th>
    <th><%= t(:mobile) %></th>
    <th><%= t(:email) %></th>
    <th><%= t(:notes) %></th>
    <th></th>
  </tr>

<% @fireguards.each do |fireguard| %>
  <tr<%
if fireguard.active == false
  concat ' style="color: #999999"'.html_safe
end
%>>
    <td><%= fireguard.name %></td>
    <td><%= fireguard.age %></td>
    <td><%= fireguard.address %></td>
    <td><%= fireguard.phone %></td>
    <td><%= fireguard.mobile %></td>
    <td><%= fireguard.email %></td>
    <td><%= fireguard.notes %></td>
    <td><%= link_to t(:show), fireguard %> | <%= link_to t(:edit), edit_fireguard_path(fireguard) %> | <%= link_to t(:delete), fireguard, :confirm => t(:confirm), :method => :delete %></td>
  </tr>
<% end %>
</table>
<p><%= link_to t(:new_fireguard), new_fireguard_path %></p>
