<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @fireguard.name %>
</p>

<p>
  <b>Age:</b>
  <%= @fireguard.age %>
</p>

<p>
  <b>Address:</b>
  <%= @fireguard.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @fireguard.phone %>
</p>

<p>
  <b>Mobile:</b>
  <%= @fireguard.mobile %>
</p>

<p>
  <b>Email:</b>
  <%= @fireguard.email %>
</p>

<p>
  <b>Notes:</b>
  <%= @fireguard.notes %>
</p>

<p>
  <b>Active:</b>
  <%= @fireguard.active %>
</p>


<%= link_to 'Edit', edit_fireguard_path(@fireguard) %> |
<%= link_to 'Back', fireguards_path %>
