- title t(:login)
.container
  .col-lg-6
    %h1= t(:login).upcase
    = form_tag user_sessions_path, :method => :post, class: 'form-signin', id: 'page-login', data: {turbo: 'false'} do
      = hidden_field_tag :referer, @referer.to_s
      = text_field_tag :username, '', placeholder: t(:username), :required => true, :autofocus => true, class: 'form-control'
      = password_field_tag :password, '', placeholder: t(:password), :required => true, class: 'form-control'
      = submit_tag t(:login), class: 'btn btn-lg btn-primary btn-block'
      = link_to t(:create_account), new_user_path
