<% title "Annonsetyper" %>
<div class="container">
  <h1>Annonsetyper</h1>
  <table class="table table-striped">
    <tr>
      <th>Navn</th>
      <th>Koster</th>
      <th>Navn på faktura</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  <% @ad_types.each do |ad_type| %>
    <tr>
      <td><%= ad_type.name %></td>
      <td><%= ad_type.value %></td>
      <td><%= ad_type.invoice_name %></td>
      <td><%= link_to t(:show), ad_type %></td>
      <td><%= link_to t(:edit), edit_ad_type_path(ad_type) %></td>
      <td><%= link_to t(:delete), ad_type, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
  <br />
  <%= link_to 'New Ad type', new_ad_type_path %>
</div>
