<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ad_type.name %>
</p>

<p>
  <b>Value:</b>
  <%= @ad_type.value %>
</p>

<p>
  <b>Invoice name:</b>
  <%= @ad_type.invoice_name %>
</p>


<%= link_to 'Edit', edit_ad_type_path(@ad_type) %> |
<%= link_to 'Back', ad_types_path %>
