<% title t(:locations) %>
<h1><%= t(:locations) %></h1>
<table>
  <tr>
    <th><%= t(:name) %></th>
    <th><%= t(:slots) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @locations.each do |location| %>
  <tr>
    <td><%= location.name %></td>
    <td><%= location.slots %></td>
    <td><%= link_to t(:fireguard_list), location_schedule_program_path(location.name) %></td>
    <td><%= link_to t(:edit), edit_location_path(location) %></td>
    <td><%= link_to t(:delete), location, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<p><%= link_to t(:new_location), new_location_path %></p>
