<!DOCTYPE html>
<html lang="no">
  <head>
    <title><%= yield(:title) %></title>
    <%= stylesheet_link_tag 'main' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
    <%= yield(:headerextra) %>
  </head>
  <body>
    <p>
      <%= link_to t(:front_page), root_path %> |
      <%= link_to t(:volunteers_list), volunteers_path %> |
      <%= link_to t(:groups), groups_path %> |
      <%= link_to t(:access_level), access_levels_path %> |
      <%= link_to t(:band_list), bands_path %> |
      <%= link_to "Program Idrettshallen", stage_schedule_program_path("Idrettshallen") %> |
      <%= link_to t(:fireguards), fireguards_path %> |
      <%= link_to t(:locations), locations_path %> |
      <%= link_to t(:ads), ads_path %> |
      <%= link_to t(:ad_types), ad_types_path %> |
      <%= link_to t(:crew_applications), crew_applications_path %> |
      <%= link_to t(:users).capitalize, users_path %> |
      Logget inn som <%= current_user.username %> |
      <%= link_to "Logg ut", logout_path %>
    </p>
    <p><%= notice %></p>
<%= yield %>
<% if APP_CONFIG[:use_google_analytics] == true %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<%= APP_CONFIG[:google_analytics_tracking_id] %>']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<% end %>
  </body>
</html>
