<!DOCTYPE html>
<html lang="no">
  <head>
    <title><%= yield(:title) %></title>
    <%= stylesheet_link_tag 'main' %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:headerextra) %>
  </head>
  <body>
    <p>
      <%= link_to t(:front_page), root_path %> |
      <%= link_to t(:volunteers_list), volunteers_path %> |
      <%= link_to t(:groups), groups_path %> |
      <%= link_to t(:access_level), access_levels_path %> |
      <%= link_to t(:band_list), bands_path %> |
      <%= link_to "Program Idrettshallen", stage_schedule_program_path("Idrettshallen") %> |
      <%= link_to t(:fireguards), fireguards_path %> |
      <%= link_to t(:locations), locations_path %> |
      <%= link_to t(:ads), ads_path %> |
      <%= link_to t(:ad_types), ad_types_path %>
    </p>
<%= yield %>
  </body>
</html>
