!!!
%html{:lang => "no"}
  %head
    %title= yield(:title)
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"
    = csrf_meta_tag
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    = yield(:headerextra)
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to(festival_title, root_path, class: 'navbar-brand')
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            - if !current_user.nil? and current_user.roles.find_by_name('admin')
              %li{:class => "#{current_page?(volunteers_path) ? 'active' : ''}"}= link_to Volunteer.model_name.human(count: 2), volunteers_path
              %li{:class => "#{current_page?(bands_path) ? 'active' : ''}"}= link_to Band.model_name.human(count: 2), bands_path
              %li{:class => "#{current_page?(ads_path) ? 'active' : ''}"}= link_to Ad.model_name.human(count: 2), ads_path
              %li{:class => "#{current_page?(events_path) ? 'active' : ''}"}= link_to Event.model_name.human(count: 2), events_path
              %li{:class => "#{current_page?(statistics_path) ? 'active' : ''}"}= link_to t(:statistics), statistics_path
              %li{:class => "#{current_page?(users_path) ? 'active' : ''}"}= link_to User.model_name.human(count: 2), users_path
            - if current_user
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  = current_user.name
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to t(:account_settings), edit_user_path(current_user)
                  %li= link_to t(:logout), logout_path
            - else
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  = t(:login)
                  %b.caret
                %ul.dropdown-menu
                  /li= link_to "<i class=\"fa fa-fw fa-facebook\"></i> | #{t(:login_with_facebook)}".html_safe, auth_at_provider_path(:provider => :facebook)
                  %li= link_to "<i class=\"fa fa-fw fa-twitter\"></i> | #{t(:login_with_twitter)}".html_safe, auth_at_provider_path(:provider => :twitter)
                  %li.divider
                  %li.dropdown-header= t(:local_user)
                  %li
                    = form_tag user_sessions_path, :method => :post, class: 'form-signin', id: 'navbar-login' do
                      = hidden_field_tag :referer, @referer.to_s
                      = text_field_tag :username, '', placeholder: t(:username), :required => true, :autofocus => true, class: 'form-control'
                      = password_field_tag :password, '', placeholder: t(:password), :required => true, class: 'form-control'
                      = submit_tag t(:login), class: 'btn btn-primary btn-block'
                      = link_to t(:create_account), new_user_path
            %li
              %a{:href => "/privacy"}= "Privacy Policy"
    .container
      - if current_user && current_user.id == 1
        %p
          = link_to t(:fireguards), fireguards_path
          |
          = link_to t(:locations), locations_path
      - if ((controller_name == 'volunteers' || controller_name == 'crew_applications' || controller_name == 'groups' || controller_name == 'access_levels') && !current_user.nil? && current_user.roles.find_by_name('admin'))
        %p
          = link_to 'Crewliste', volunteers_path
          |
          = link_to 'Grupper', groups_path
          |
          = link_to 'Crewsøknader', crew_applications_path
          |
          = link_to 'Crewkort', access_levels_path
          |
          = link_to 'Send epost til alle frivillige', mailer_volunteers_path
      - if ((controller_name == 'bands' || controller_name == 'stages' || controller_name == 'stage_schedules') && !current_user.nil? && current_user.roles.find_by_name('admin'))
        %p
          = link_to 'Band', bands_path
          |
          = link_to 'Venues', stages_path
          |
          = link_to 'Send epost til alle påmeldte band', mailer_bands_path
      - if controller_name == 'ads' || controller_name == 'ad_types'
        %p
          = link_to 'Annonser', ads_path
          |
          = link_to 'Annonsetyper', ad_types_path
      - if flash[:alert]
        %p.flash-error= flash[:alert]
      - if flash[:notice]
        %p.flash-notice= flash[:notice]
    = yield
    - if APP_CONFIG[:use_google_analytics] == true
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{APP_CONFIG[:google_analytics_tracking_id]}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
