!!!
%html{:lang => "no"}
  %head
    %title= yield(:title)
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    = csrf_meta_tags
    = csp_meta_tag
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = yield(:headerextra)
  %body
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container
        = link_to(festival_title, root_path, class: 'navbar-brand')
        %button.navbar-toggler{"data-bs-target" => ".navbar-collapse", "data-bs-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        .navbar-collapse.collapse
          %ul.navbar-nav.me-auto.mb-2.mb-lg-0
            - if !current_user.nil? and current_user.roles.find_by_name('admin')
              %li= link_to Volunteer.model_name.human(count: 2), volunteers_path, class: "nav-link#{current_page?(volunteers_path) ? ' active' : ''}"
              %li= link_to Band.model_name.human(count: 2), bands_path, class: "nav-link#{current_page?(bands_path) ? ' active' : ''}"
              %li= link_to Ad.model_name.human(count: 2), ads_path, class: "nav-link#{current_page?(ads_path) ? ' active' : ''}"
              %li= link_to Event.model_name.human(count: 2), events_path, class: "nav-link#{current_page?(events_path) ? ' active' : ''}"
              %li= link_to t(:statistics), statistics_path, class: "nav-link#{current_page?(statistics_path) ? ' active' : ''}"
              %li= link_to User.model_name.human(count: 2), users_path, class: "nav-link#{current_page?(users_path) ? ' active' : ''}"
            - if current_user
              %li.nav-item.dropdown
                %a.nav-link.dropdown-toggle{"data-bs-toggle" => "dropdown", :href => "#", "aria-expanded" => "false"}
                  = current_user.name
                  %b.caret
                %ul.dropdown-menu
                  %li.dropdown-item= link_to t(:account_settings), edit_user_path(current_user)
                  %li.dropdown-item= link_to t(:logout), logout_path
            - else
              %li.nav-item.dropdown
                %a.nav-link.dropdown-toggle{"data-bs-toggle" => "dropdown", :href => "#"}
                  = t(:login)
                  %b.caret
                %ul.dropdown-menu
                  /li= link_to "<i class=\"fa fa-fw fa-facebook\"></i> | #{t(:login_with_facebook)}".html_safe, auth_at_provider_path(:provider => :facebook)
                  %li= link_to "<i class=\"fa-brands fa-twitter\"></i> | #{t(:login_with_twitter)}".html_safe, auth_at_provider_path(:provider => :twitter), class: "dropdown-item"
                  %li
                    %hr.divider
                  %li
                    %h6.dropdown-header= t(:local_user)
                  %li
                    = form_tag user_sessions_path, :method => :post, class: 'form-signin', id: 'navbar-login' do
                      = hidden_field_tag :referer, @referer.to_s
                      = text_field_tag :username, '', placeholder: t(:username), :required => true, :autofocus => true, class: 'form-control'
                      = password_field_tag :password, '', placeholder: t(:password), :required => true, class: 'form-control'
                      = submit_tag t(:login), class: 'btn btn-primary'
                  %li= link_to t(:create_account), new_user_path, class: "dropdown-item"
            %li
              %a.nav-link{:href => "/privacy"}= "Privacy Policy"
    .container
      - if current_user && current_user.id == 1
        %p
          = link_to t(:fireguards), fireguards_path
          |
          = link_to t(:locations), locations_path
      - if ((controller_name == 'volunteers' || controller_name == 'crew_applications' || controller_name == 'groups' || controller_name == 'access_levels') && !current_user.nil? && current_user.roles.find_by_name('admin'))
        %p
          = link_to 'Crewliste', volunteers_path
          |
          = link_to 'Grupper', groups_path
          |
          = link_to 'Crewsøknader', crew_applications_path
          |
          = link_to 'Crewkort', access_levels_path
          |
          = link_to 'Send epost til alle frivillige', mailer_volunteers_path
      - if ((controller_name == 'bands' || controller_name == 'stages' || controller_name == 'stage_schedules') && !current_user.nil? && current_user.roles.find_by_name('admin'))
        %p
          = link_to 'Band', bands_path
          |
          = link_to 'Venues', stages_path
          |
          = link_to 'Send epost til alle påmeldte band', mailer_bands_path
      - if controller_name == 'ads' || controller_name == 'ad_types'
        %p
          = link_to 'Annonser', ads_path
          |
          = link_to 'Annonsetyper', ad_types_path
      - if flash[:alert]
        %p.flash-error= flash[:alert]
      - if flash[:notice]
        %p.flash-notice= flash[:notice]
    = yield
    - if APP_CONFIG[:use_google_analytics] == true
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{APP_CONFIG[:google_analytics_tracking_id]}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
